h1 {
    text-align: center;
}

#input {
    text-align: center;
}

#container {
    text-align: center;
}

#list {
    background-color: lightgray;
    border: 1px solid black;
    width: 300px;
    display: inline-block;
}
