body {
    overflow: hidden;
}


/* Title */ 

#titleContainer {
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 125px;
}

#title {
    font-size: 90px;
    font-weight: bold;
    margin-top: -5px;
    font-family: cursive;
}

/* Button */

#btnContainer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#btn {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    font-family: cursive;
    background-color: lightgray;
    border-width: 5px;
    border-color: black;
}

#btn:hover {
    transform: scale(.98);
    box-shadow: 0 0 5px black;
    transition: all.2s ease-in-out;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border: 3px solid rgb(59, 59, 59);
}

#btn:active {
    transform: scale(.95);
    box-shadow: 0 0 10px black;
    transition: all.2s ease-in-out;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

/* Fact Area */

#factContainer {
    border: 5px solid black;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#fact {
    text-align: center;
    font-size: x-large;
    font-family: "Helvetica Neue";
}


/* Contact Me */