body {
    background-color: rgba(230, 87, 87, 0.6);
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.button-wrapper {
    margin-top: 50px; /* Adjust margin as needed */
}

button {
    height: 100px;
    width: 300px;
    color: black;
    border-radius: 20px;
    font-family: "Gill Sans", sans-serif;
    font-size: 30px;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}

button:hover {
    transform: scale(0.99);
}

button:active {
    transform: scale(0.96);
}

#weeks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.days {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 300px;
    width: 125px;
    margin: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
    color: rgba(243, 64, 121);
}

.days p {
    margin: 0;
    padding: 5px;
    text-align: center;
}
