/* Title */

#titleContainer {
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 150px;
}

#title {
    font-size: 90px;
    font-weight: bold;
    margin-top: 15px;
    font-family: Impact, fantasy;
}

/* From */

#fromContainer {
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    line-height:100px;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 50px;
    width: 300px;
    height: 100px;
    float: left;
}

.from {
    font-size: 55px;
    font-family: Impact, fantasy;
}

#from {
    border-radius: 20px;
    border: 3px solid black;
}

/* To */

#toContainer {
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    line-height:100px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 50px;
    width: 300px;
    height: 100px;
    float: right;
}

.to {
    font-size: 55px;
    font-family: Impact, fantasy;
}

#to {
    border-radius: 20px;
    border: 3px solid black;
}

/* Amount */

#amountContainer {
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 600px;
    height: 240px;
}

.amount {
    font-size: 55px;
    font-family: Impact, fantasy;
}

#amount {
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
}

/* Button */

#convertBtn {
    width: 300px;
    height: 70px;
    margin-top: 20px;
    font-family: Impact, fantasy;
    font-size: 55px;
    border-radius: 20px;
    border: 3px solid black;
}

#convertBtn:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transform: scale(.98);
    transition: all.2s ease-in-out;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border: 3px solid rgb(255, 255, 255);
}

#convertBtn:active {
    transform: scale(.95);
    transition: all.2s ease-in-out;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border: 3px solid rgb(255, 255, 255);
}

/* Result */

#resultContainer {
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 600px;
    height: 240px;
}

.result {
    font-size: 55px;
    font-family: Impact, fantasy;
}

#result {
    
}
